#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;

}

.App {
  margin-top: 100px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 10px;
  width: 450px; 
  margin: 0 auto; 
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #e0e0e0;
}

.pagination-controls {
  margin-bottom: 50px;
}

